.app-menu {
  position: absolute;
  z-index: 1000;
  top: 8px;
  right: 10px;
  min-width: 15rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #00000026;
  border-radius: .25rem;
}

.app-menu-item {
  display: block;
  width: 70%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: #0000;
  border: 0;
}

.app-menu-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}